body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(212, 45%, 89%);
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 304px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

.card-content {
    font-size: 15px;
    padding: 10px;
    color: black;
}

#p1 {
    font-size: x-large;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

#p2 {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}